@import "variables";

html, body, {
    height: 100%;
}

.app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.body {
    color: $light-color;
    height: 100%;
}

.routecontainer {
    height: 100%;
}

p {
    font-size: 1.2rem;
}
