@import "../variables";

.button {
    padding: .5rem 1rem;
    transform: skew(-20deg);
    color: $light-color;
    font-weight: 600;

    &--primary {
        border: $red-color solid 2px;
        background: $red-color;
    }

    &--secondary {
        border: $red-color solid 2px;
    }
}
